@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap');

:root {
    --color1: #008080;
}
.course-main-cont {
    background-color: #f5f5f5;
}
.course-Cont {
    font-family: 'Montserrat', sans-serif;
}
* {
    box-sizing: border-box;
}
.heroSectionCont {
    background-color: var(--color1);
    position: relative;
}
.sec1Left {
    position: absolute;
    width: 60%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(90deg, var(--color1) 80%, transparent);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 50px;
}
.sec1Right {
    display: flex;
    z-index: 4;
    justify-content: flex-end;
}
.CourseName {
    font-size: 4rem;
    color: white;
    width: 70%;
    font-weight: bold;
}
.CourseDesp {
    color: #efefef;
    font-size: 1.6rem; 
    width: 70%;
    font-weight: 500;
    margin-top: 20px;
}
.CourseRegisCont {
    display: flex;
    justify-content: flex-start;
    width: 60%;
}
.RegisLink{
    background-color: rgb(222, 55, 55);
    font-size: 1.5rem;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    transition: 0.2s;
}
.RegisLink:hover {
    background-color: rgb(239, 85, 85);
}
.Video1{
    height: 500px;
}
.BelowCont{
    background-image: linear-gradient(180deg, var(--color1) 50%, transparent 50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
}
.Boxusp {
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 0 10px  rgb(22, 21, 21);
    background-color: white;
    padding: 40px;
    transition: 1s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.Boxusp div {
    font-size: 1.7rem;
    font-weight: 500;
    margin: 10px 0;
}
.Boxusp:hover {
    box-shadow: 0 0 20px 1px rgb(68, 66, 66);
}
.featureTagline {
    margin: 90px 0 40px 0;
    text-align: center;
    font-weight: 500;
    font-size: 3.2rem;
}
.getPlaced {
    font-weight: 3.5rem;
    font-weight: 800;
    color: #021028;
    background: linear-gradient(180deg, transparent 50%, rgb(229, 229, 118) 50%);
}
.featureCont {
    margin: 40px 0 40px 0;
    display: flex;
    justify-content: space-evenly;
}
.FeatBox {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    background-color: #021028;
    border: 1px solid #fff;
    box-shadow: 0 0 4px grey;
    border-radius: 2px;
    text-align: center;
}
.feature-icon {
    width: 30%;
    filter: invert(1);
}
.featureLine {
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
}
.hiringCont {
    margin: 100px 10px;
}
.hiringTagline {
    color: black;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    background-image: linear-gradient(90deg, transparent 30%, rgb(204, 197, 197) , transparent 70%);
}
.iconsCont {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
    align-items: center;
}
.CompIcon {
    border: 3px solid grey;
    border-radius: 4px;
    padding: 10px;
}
.andMore {
    font-size: 1.4rem;
    font-style: italic;
}
.SpeakerCont {
    margin: 60px 30px;
    display: grid;
    grid-template-columns: 10px 2fr 3fr;
}
.SpeakerStart {
    background-color: var(--primary-color);
}
.SpeakerLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
}
.SpeakerTitle {
    font-size: 3rem;
    font-weight: bolder;
    color: var(--primary-color);
}
.nameHere {
    font-size: 2rem;
    font-weight: bold;
}
.desigHere {
    font-style: italic;
}
.SpeakerRight {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-style: italic;
    background-color:rgb(184, 182, 182);
}